<section class="w-75 mx-auto rounded shadow bg-main-light px-3 py-5 my-5" *ngIf="showSection ;else msg">
    <div class="d-flex justify-content-between align-item-center">
    <h1 class="h2 text-capitalize">shop cart</h1>
    <button (click)="deleteAll()" class="btn btn-sm btn-danger"> <i class="fas fa-trash-can"></i> Clear All</button>
    </div>
    <p class="text-main"> Total price :{{cartDetails.totalCartPrice |currency:'EGP '}}</p>
    <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">
        <div class="col-sm-5 col-md-2">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-sm-7 col-md-10">
            <div class="row py-4">
                <div class="col-6 col-sm-12 col-md-9">
                    <h3 class="h6">{{item.product.title}}</h3>
                    <p class="text-main mb-0">Price : {{item.price |currency:'EGP '}}</p>
                    <button #btnRemove (click)="removeItem(item.product._id ,btnRemove)" class="btn m-0 p-0 text-main"><i class="fas fa-trash-can"></i> Remove</button>
                </div>    

                <div class="col-6 col-sm-12 col-md-3 text-end my-auto text-sm-start text-md-end">
                    <button #btnCount1 (click)="changeCount(item.count - 1 , item.product._id ,btnCount1 , btncount2)" class="btn btn-sm border-success mx-2">-</button>
                    <span>{{item.count}}</span>
                    <button #btncount2 (click)="changeCount(item.count + 1 , item.product._id ,btnCount1 , btncount2)" class="btn btn-sm border-success mx-2">+</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn-main" [routerLink]="['/payment/' , cartDetails._id]">Online payment <img src="./assets/images/visa.svg" alt="visa"></button>
</section>

<ng-template #msg>
    <h2 class="text-center my-5 py-5"> Cart is Empty ...</h2>
</ng-template>
