<section class="bg-main-light text-capitalize ">
    <div class="container text-center py-5">
        <div class="d-flex justify-content-center">            
            <a class="mx-2" target="_blank" href="https://www.instagram.com/"> <i class="fa-brands fa-xl fa-instagram"></i></a>
            <a class="mx-2" target="_blank" href="https://www.facebook.com/"> <i class="fa-brands fa-xl fa-facebook"></i></a>
            <a class="mx-2" target="_blank" href="https://www.tiktok.com/"> <i class="fa-brands fa-xl fa-tiktok"></i></a>
            <a class="mx-2" target="_blank" href="https://www.twitter.com/"> <i class="fa-brands fa-xl fa-twitter"></i></a>
            <a class="mx-2" target="_blank" href="https://www.linkedin.com/"> <i class="fa-brands fa-xl fa-linkedin"></i></a>
            <a class="mx-2" target="_blank" href="https://www.youtube.com/"> <i class="fa-brands fa-xl fa-youtube"></i></a>
        </div>
        <hr>
        <div>© Copyright <span class="fw-bold">freshCart</span>. All Rights Reserved</div>
        <div>Designed by <a href="#" class="text-decoration-none text-success"> route academy</a></div>
    </div>
</section>
