<section class="w-75 mx-auto shadow bg-main-light px-3 py-5 my-5">
    <h1 class="text-capitalize text-center">forget password</h1>

    <form action="" [formGroup]="code" (submit)="handleForm()">

        <div class="mb-2 w-75 mx-auto">
            <label class="text-capitalize py-2" for="code">Enter varification code :</label>
            <input type="number" id="email" class="form-control" formControlName="resetCode" #resetCode>    
            <div *ngIf="code.get('resetCode')?.errors &&(code.get('resetCode')?.touched || resetCode.value.length>0)" class="alert alert-danger" >
                <p *ngIf="code.get('resetCode')?.getError('required')" >varification code Required</p>
                <p *ngIf="code.get('resetCode')?.getError('resetCode')">varification code must by only numbers</p>
            </div> 
        </div>

        <div class="mb-2 w-75 mx-auto">
        <p *ngIf="msgError" class="alert alert-danger">{{msgError}}</p>
        </div>


        <button [disabled]="code.invalid" class="btn-main d-block ms-auto text-capitalize" >
            <i *ngIf="isLoading" class="fas fa-spinner"></i>
            submit</button>

    </form>
</section>